@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.input_frame{
	background-color:#fff;
	border-radius:20px;
	width:100%;
	padding-top:10%;
	padding-bottom:10%;
}

input[type=text], input[type=email],input[type=password],.submit_button{
	height:50px;
	color:#000;
	font-family: 'Poppins', sans-serif;
	border-radius:10px;
	border:1px solid hsl(246, 25%, 77%);
	padding:0 20px 0 20px;
	width:83.333%;
	margin:10px auto 0 auto;
	display:block;
	font-size:16px;

}

.field_error {

}
.form-group.shortgap{
	margin-bottom:5px;
}

.has-error>input[type=text], .has-error>input[type=email],.has-error>input[type=password]{
	margin-bottom:2px;
	border:1px solid hsl(0, 100%, 74%);
	background-image:url('images/icon-error.svg');
	background-repeat:no-repeat;
	background-position:right center;
	color:hsl(0, 100%, 74%);

}
.submit_button{
	margin:20px auto 0px auto;
	color:#fff;
	cursor:pointer;

}


.caption {
	font-size:11.5px;
	color:hsl(246, 25%, 77%);
	font-style:normal;
	margin-top:5px;

}
.caption a:link, .caption a:active, .caption a:hover, .caption a:visited,.formfield_error_msg{
	color:hsl(0, 100%, 74%);
	font-size:11.5px;

}
.formfield_error_msg{
	display:block;
	text-align:right;
	width:83.333%;
	margin:0 auto 0 auto;
	height:10px;
	font-style:italic;
}

@media (max-width: 700px) {

	.input_frame{
		width:100%;
		padding-top:10px;
		padding-bottom:10%;
	}

	.caption.terms{
		padding:0 40px;
	}

}
