@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body.reacttest {
	margin-block-start:0;
	margin-block-end:0;
	margin:0;
	font-size:16px;
	background-color:hsl(0, 100%, 74%);
	line-height:24px;



}


.row {
  display: flex;
  max-width:1440px;

}
.col {
	flex:1;
	height:800px;
	position:relative;
	float:left;
}




.left_payload{
	margin-left:30px;
	position: absolute;
   top: 50%;
   transform: translateY(-50%);
	max-width:500px;
	padding:0;
}
.right_payload{
	position: absolute;
   top: 50%;
	left:5px;
   transform: translateY(-50%);
	max-width:540px;
	width:100%;
}
.tryitfree_div{
	width:100%;
}


h1.reacttest{
	font-size:45px;
	font-family: 'Poppins', sans-serif;
	font-weight:600;
	line-height:50px;
	margin-block-start:0;
}

.centertext {
  text-align: center;
}
.red_background{
	background-color:hsl(0, 100%, 74%);
}


.green_background, input[type=submit].green_background{
	background-color:hsl(154, 59%, 51%);
	color:rgb(255,255,255);
	border: 1px solid hsl(154, 59%, 40%);
	cursor:pointer;
}
