@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body.reacttest {
	margin-block-start:0;
	margin-block-end:0;
	margin:0;
	font-size:16px;
	background-image:url('images/bg-intro-desktop.png');
	background-color:hsl(0, 100%, 74%);
	line-height:24px;



}


.row {
  display: flex;
  max-width:1440px;
  color:#fff;

}
.col {
	flex:1;
	height:800px;
	position:relative;
	float:left;
}




.left_payload{
	margin-left:30px;
	position: absolute;
   top: 50%;
   transform: translateY(-50%);
	max-width:500px;
	padding:0;
}
.right_payload{
	position: absolute;
   top: 50%;
	left:5px;
   transform: translateY(-50%);
	max-width:540px;
	width:100%;
}
.tryitfree_div{
	margin:0 0 20px;
	padding-top:12px;
	padding-bottom:12px;
	border-radius:5px;
	box-shadow:0px 5px 0px rgba(0,0,0,0.3);
	width:100%;
}


h1.reacttest{
	font-size:45px;
	font-family: 'Poppins', sans-serif;
	font-weight:600;
	line-height:50px;
	margin-block-start:0;
}

.centertext {
  text-align: center;
}
.red_background{
	background-color:hsl(0, 100%, 74%);
}

.blue_background{
	background-color:hsl(248, 32%, 49%);
}

.green_background, input[type=submit].green_background{
	background-color:hsl(154, 59%, 51%);
	color:rgb(255,255,255);
	border: 1px solid hsl(154, 59%, 40%);
	cursor:pointer;
}

@media (max-width: 700px) {
	body.reacttest{
		background:none;
	}
	.row {
     display: block;

   }

	h1.reacttest{
		font-size:28px;
		font-family: 'Poppins', sans-serif;
		font-weight:600;
		line-height:36px;
		margin-block-start:0;
		margin-bottom:20px;
	}

	.col{
		background-image:url('images/bg-intro-mobile.png');
		background-repeat: repeat-y;
		background-color:hsl(0, 100%, 74%);
		display:block;
		float:none;
		width:375px;
		margin:0 auto;
	}

	.col.left{
		height:inherit;
		padding: 80px 0;
	}

	.col.right{
		height:700px;
		padding:0 25px;
	}

	.left_payload{
		position: static;
	   top: 0%;
	   transform: translateY(-0%);
		text-align:center;
		max-width:100%;
		margin-left:0px;
		padding:0 30px;
		font-size:18px;
	}
	.right_payload{
		position: static;
	   top: 0px;
		left:0px;
	   transform: translateY(0%);
		max-width:375px;
		width:100%;
	}
	.tryitfree_div{
		margin:0 0 20px;
		padding:12px 70px;
		border-radius:5px;
		box-shadow:0px 5px 0px rgba(0,0,0,0.3);
		width:100%;
	}

}


@media (min-width: 768px) {

	.left_payload{
		margin-left:100px;
	}

}



@media (min-width: 992px) {

	.left_payload{
		margin-left:165px;
	}

}
